/*
  author: Jawadur Rahman (A00434830)

  It is ordered starting with HTML elements, followed by classes

*/
body {
    background-color: rgb(201, 195, 235);
    font-family: sans-serif;
}

h1 {
    background-color: rgb(30, 32, 194);
    width: 800px;
    line-height: 60px;
    color: rgb(201, 195, 235);
    font-size: 24px;
}

ol {
    color: rgb(30, 32, 194);
}

table,
th,
td {
    border: 5px solid rgb(30, 32, 194);
    border-collapse: collapse;
    background-color: rgb(201, 195, 235);
    text-align: center;
    font-size: 24px;
    width: 800px;
}

figure {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

/* programmer defined class section */

.button {
    background-color: rgb(201, 195, 235);
    border: none;
    color: rgb(30, 32, 194);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
}
